{% extends "base.html" %}
{% block content %}

<h1>Käyttäjän {{user_logged_in.firstname}} tehtäväluokat</h1>

{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{%endif%}

<p>
    <a href="{{base_bath}}/tsoha2016/tehtavaluokka/uusi" class="btn btn-primary">Lisää uusi tehtäväluokka</a>

</p>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Nimi</th>
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
        <tr>
            <td><a href="{{base_path}}/tehtavaluokka/{{category.id}}">{{category.category_name}}</td>
      
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}