{% extends "base.html" %}
{% block content %}

<h1>Lisää tehtävä muistilistaan</h1>

{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors%}
        <li>{{error}}</li>
        {% endfor %}
    </ul>   
</div>
{%endif%}

<form method="post" action="{{base_path}}/tehtava">
    <div class="form-group">
        <label class="control-label">Nimi</label>
        <input name="task_name" class="form-control" value="{{attributes.task_name}}" type="text">
    </div>

    <div class="form-group">
        <label class="control-label">Tila</label>
        <select name="task_status" class="form-control">
            <option value="{{attribute.task_status}}">Avoin</option>
            <option value="{{attribute.task_status}}">Kesken</option>
            <option value="{{attribute.task_status}}">Valmis</option>
        </select>
            
    </div>

    <div class="form-group">
        <label class="control-label">Kuvaus</label>
        <input name="task_description" class="form-control" value="{{attributes.task_description}}" type="text">
    </div>

    <div class="form-group">
        <label>Takaraja</label>
        <input name="deadline" class="form-control" type="text">
    </div>

    <div class="form-group">
        <label>Prioriteetti</label>
        <select name="task_importance" class="form-control">
            <option value="{{attribute.task_importance}}">1</option>
            <option value="{{attribute.task_importance}}">2</option>
            <option value="{{attribute.task_importance}}">3</option>
        </select>
    </div>
    
    <div class="form-group">
        <label>Tehtäväluokka</label>
        <select class="form-control" name="categories[]" multiple="">
            {% for category in categories %}
            <option value="{{category.id}}">{{category.category_name}}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Lisää</button>
    </div>

</form>

{% endblock %}