{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

<h1>Tehtävä</h1>

{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{%endif%}


<p class="lead">
    {{task.task_name}}
</p>

<ul>
    <li><strong>Tehtävän nimi: </strong>{{task.task_name}}</li>
    <li><strong>Tehtävän kuvaus: </strong>{{task.task_description}}</li>
    <li><strong>Takaraja: </strong>{{task.deadline}}</li>
    <li><strong>Tila: </strong>{{task.task_status}}</li>
    <li><strong>Prioriteetti: </strong>{{task.task_importance}}</li>
    <!-- lisätään myöhemmin <li><strong>Luokka:</strong> {{categorize.task_category}}</li> -->      

</ul>

<p>
    <a href="{{base_path}}/tsoha2016/tehtava/{{task.id}}/muokkaa" class="btn btn-primary btn-lg">Muokkaa tehtävää</a>

    {{forms.destroy_button("#{base_path}/tehtava/#{task.id}/poista")}}
    
</p>

{% endblock %}