{% extends "base.html" %}
{% block content %}

<h1>Tehtäväluokat</h1>

<p>
    <a href="#" class="btn btn-primary">Lisää uusi luokka</a>
    
</p>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Kuvaus</th>                        
        </tr>
    </thead>
    
    <tbody>
        <!--listataan luokat tähän -->
        <tr>
            <td><a href="#">Koulu</a></td>
            <td> Omaan kouluun ja koulutöihin liittyvät tehtävät</td>
        </tr>
    </tbody>
</table>

{% endblock %}