{% extends "base.html" %}
{% block content %}

<h1>Muokkaa tehtävää</h1>

<form>
    <div class="form-group">
        <label>Tehtävän nimi:</label>
        <input class="form-control" value="Katso syksyn kurssien sivut" type="text">
    </div>
    <div class="form-group">
        <label>Tehtävän kuvaus:</label>
        <textarea class="form-control">Katso syksyn kurssien sivut, joille ilmoittaudut. Tarkista luentojen ajankohta, tarvitseeko hankkia materiaalia, sopiva harjoitusryhmä
        </textarea>
    </div>
    <div class="form-group">    
        <label>Tehtävän takaraja:</label>
        <input class="form-control" value="25.8.2016" type="text">
    </div>
    <div class="form-group"> 
        <label>Tehtävän tila:</label>
        <input class="form-control" value="Aloittamatta" type="text">
    </div>
    <div class="form-group">
        <label>Tehtävän tärkeys:</label>
        <input class="form-control" value="2" type="text">
    </div>
    <div class="form-group">
        <label>Tehtävän luokka:</label>
        <input class="form-control" value="Koulu" type="text">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success">Tallenna</button>
    </div>
</form>

{% endblock %}