{% extends "base.html" %}
{% block content %}

<h1>Muokkaa luokkaa</h1>

<form>
    <div class="form-group">
        <label>Luokan nimi:</label>
        <input class="form-control" value="Koulu" type="text">
    </div>
    <div class="form-group">
        <label>Luokan kuvaus:</label>
        <textarea class="form-control"> Omaan kouluun ja koulutöihin liittyvät tehtävät
        </textarea>
    </div>
    
    <div class="form-group">
        <button type="submit" class="btn btn-success">Tallenna</button>
    </div>
    
</form>

{% endblock %}