{% extends "base.html" %}
{% block content %}

<h1>Prioriteetti</h1>

<!-- prioriteetin kuvaus -->
<p class="lead">
    Tehtävä takarajaan mennessä, mutta prioriteetilla 1 olevat tehtävät ovat aina etusijalla. Mikäli et ennätä tekemään tätä tehtävää, pyri sopimaan uusi takaraja ajoissa ennen takarajaa.

</p>

<!-- Prioriteetin muut tiedot listattuna -->
<ul>
    <li><strong>Arvo:</strong> 2</li>
       
</ul>

<p>
    <a href="#" class="btn btn-primary btn-lg">Muokkaa tärkeyttä</a>

</p>

<p>
    <button class="btn btn-danger">Poista tärkeys </button>
</p>

{% endblock %}